*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color:#1d1d1f;
  color: #faf9f6;
  line-height: 1.6;
  margin-left: 10%;
}

.clockContainer
{
 margin-top: 10%;
}

.container
{
  display: flex;
  max-width: 300px;
}
.name
{
  width: 50%;
  padding-bottom: 10px;
  padding-top: 100px;
}

.bio
{
  max-width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.projects
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 990px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5%;
}

.projectHead
{
  padding-top: 10px;
  padding-bottom: 10px;
}

.projectCard
{
  max-width: 300px;
}

a
{
  text-decoration: none;
  color: #d8e6ad;
}



hr
{
  max-width: 300px;
  color: #363639;
}

.gitIcon
{
  width: 30px;
  height: 30px;
  margin-top: 120px;
}

.gitIcon 
{
  transition: 300ms linear;
}

.gitIcon:hover 
{
  transform: scale(1.2);
  cursor: pointer;
}

.projectLink
{
  display: inline-block;
  padding-top: 10px;
  transition: 300ms linear;
  color: #C6BAEA;
}

.projectLink:hover
{
  transform: translate(5px);
}

@media(max-width: 600px)
{
  body
  {
    margin-left: 5%;
    margin-right: 5%;
  }
}